Node modules

node_modules/

Logs

logs
*.log
npm-debug.log*

Environment variables

.env

Build output

dist/
build/

Dependency directories

jspm_packages/

Testing

coverage/
*.lcov

IDE and editor specific files

.idea/
.vscode/
.DS_Store
Thumbs.db

Optional npm cache directory

.npm

Yarn Integrity file

.yarn-integrity

Next.js build output

.next/

SvelteKit build output

.svelte-kit/

Nuxt.js build output

.nuxt/
.vercel
